.overlay{
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 50%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 50%,rgba(0,0,0,1) 100%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* display: flex;
            justify-content: center;
            align-items: center; */
            z-index: 999;
}  
/* questo da mobile */

/* .slide-text{
    padding-left: 3rem;
}

.swiper-slide img {
    transition: 8.5s ease-out;
    transform: scale(1.08);
  }
  
  .swiper-slide-active img{
    transform: scale(1);
  } */


.swiper-slide{
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;

}

/* aumentare la trasparenza dello sfondo e div scrritta del 100% */

.containerTesto{
  background-color: #fff;

}

.containerTesto h1, p{
  color: black;
  
}

.containerTesto p{
  text-align: center;
}