.overlay{
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 50%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 50%,rgba(0,0,0,1) 100%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* display: flex;
            justify-content: center;
            align-items: center; */
            z-index: 999;
}  
/* questo da mobile */

/* .slide-text{
    padding-left: 3rem;
}

.swiper-slide img {
    transition: 8.5s ease-out;
    transform: scale(1.08);
  }
  
  .swiper-slide-active img{
    transform: scale(1);
  } */


.swiper-slide{
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;

}

/* aumentare la trasparenza dello sfondo e div scrritta del 100% */

.containerTesto{
  background-color: #fff;

}

.containerTesto h1, p{
  color: black;
  
}

.containerTesto p{
  text-align: center;
}

/* .carosello.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	position: relative;
	bottom: auto;
	padding: 1rem 0;
}

.carosello .swiper-pagination-bullet {
	background: rgba(255, 255, 255, 0.6);
}

.carosello .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #888686;
} */


.carousel-inner{
  padding: 1em;
}
.card{
  margin: 0 .5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev, .carousel-control-next{
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.freccia{
  text-align: center;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 99999;
  border-width: 1px;
  border-style: solid;
}

/* .testoSopra{
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
} */

.testoGiu{
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

.descrizioneData-Lato .descrizioneData-Latob .descrizioneData{
  border: 0;
  margin: 0;
  padding: 0;
}

.descrizioneData-Latob{
vertical-align: baseline;
  outline: none;
  font-size: 12px;
  line-height: 26px;
}

.descrizioneData{
  font-size: 12px;
  line-height: 26px;
  
}

.titoloCalendario{
  font-size: 22px;
  line-height: 32px;
}

.col-1{
  margin-right: 20%;
}

.tsa{
  transform: translateX(-73%);
  left: 50%;
  
}