body{
    background-color: #7a1d1d;
    background-image: url(/Es_POKEDEXcopia/img/sfondopokemontrasparente.png), url(/Es_POKEDEXcopia/img/trainerf2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-attachment: fixed;
    background-position: 66%, 26%;
    
    background-size:20%, 16%;

    
    
    
    
}


.bottone{
    height: 5rem;
    position: relative;
    bottom: 3rem;
    left: 50%;
}

 .card{
    
    left: 40%;
    height: 30rem;
} 
.navbar{
    
    background-color: #7a1d1d;
    box-shadow: 5px 10px 40px #000000;
    
}

.page-footer{
    border-top: 10px solid #000;  
}

h5, p, li {
    color: #000;
}